<h1> Welcome to Super Rentals </h1>

<h3> Special Announcements </h3>

<div class="announcement">
  <ul>
    {{#each model.announcements as |announcement|}}
      {{announcement-tile announcement=announcement destroyAnnouncement="destroyAnnouncement"}}
    {{/each}}
  </ul>
  {{new-announcement saveAnnouncement="saveAnnouncement"}}

</div>

<h3>We have the following rental stocks for you today: </h3>

<ol>
  {{#each model.rentals as |rental|}}
    {{rental-tile rental=rental}}
  {{/each}}
</ol>
{{new-rental saveRental2="saveRental3"}}

<h2> All Reviews </h2>

<ul>
  {{#each model.reviews as |review|}}
    <li> {{review.rating}} - {{review.content}} - by {{review.author}}</li>
  {{/each}}
</ul>
<!-- {{new-review saveReview="saveReview"}} -->

<hr>
{{#link-to 'about'}}About{{/link-to}}
<br>
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
